html
  head
    title Scraper
  body
    h1= status
    button(onclick='startScrape()') Start Scrape
    h1 Last 3 In Stock Alerts Go Here
    h1 Scrape Errors Go Here
    h1 General App Errors Go Here
    script.
      const startScrape = () => {
        fetch("/start-scrape");
      }